lista/lista-encadeada/ListEncad
lista/lista-duplamente-encadeada/listDupl
algoritmos-ordenacao/ordination
algoritmos-busca/search
lista/lista-circular/listCircular
lista/list-no-descrito/listDescritor